<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003432486441-688r48j2nh6bupi4lji53e68jbu5k193.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003432486441-688r48j2nh6bupi4lji53e68jbu5k193</string>
	<key>API_KEY</key>
	<string>AIzaSyAKKUrP3R5N3InzwyHghGRBkAivYr8UCo8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003432486441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCompleteGuide.testing</string>
	<key>PROJECT_ID</key>
	<string>flutterquiz-56d72</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterquiz-56d72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003432486441:ios:2570ef6718e818fa299e38</string>
</dict>
</plist>